.sec-2 {
    height: 30%;
}

.laptop-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.laptop {
    width: 86%;
    height: 92%;
    border: 10px solid black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: var(--text);
}

.laptop-btm {
    width: 100%;
    height: 8%;
    background-color: var(--laptop);
    border-radius: 5px;
    box-shadow: 0 24px 20px -6px black;
    border: 1px solid black;

}

.vscode {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #313642;
    display: none;
}

.terminal {
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    width: 80%;
    height: 75%;
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.vscode .bar,
.terminal .bar {
    width: 100%;
    height: 5%;
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.vscode .red,
.terminal .red {
    height: 5px;
    width: 5px;
    background-color: #e1443e;
    border-radius: 50%;
    margin-right: 3px;
}

.vscode .yellow,
.terminal .yellow {
    height: 5px;
    width: 5px;
    background-color: #e1953e;
    border-radius: 50%;
    margin-right: 3px;

}

.vscode .green,
.terminal .green {
    height: 5px;
    width: 5px;
    background-color: #1a7227;
    border-radius: 50%;
    margin-right: 3px;

}


/* START terminal */


.terminal-message {
    padding: 15px;
}

.text {
    border-right: 2px solid var(--green-lt);
    color: var(--green-lt);
    font-family: 'VT323', monospace;
    letter-spacing: 1px;
    font-size: 20px;
}