.sec-1 {
    height: 60%;
    display: flex;
    flex-direction: column;
}

/* shelf 1 container */
.sec-1 .shelf-container {
    width: 100%;
    height: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.sec-1 .shelf-container .things-on-shelf {
    height: 90%;
    display: flex;
}

.things-on-shelf .book-links-container {
    width: 50%;
    height: 100%;
}

.things-on-shelf .plant-container {
    width: 30%;
    height: 100%;
}

.things-on-shelf .book-3-and-4-container {
    width: 20%;
    height: 100%;
}

/* #1 */

.things-on-shelf .book-links-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.book-1-container {
    background-color: var(--teal);
    width: 95%;
    height: 25%;
    margin-left: 15px;
}

.book-2-container {
    background-color: var(--orange);
    width: 95%;
    height: 25%;
}

.book-1-container .book-1,
.book-2-container .book-2,
.book-5-container .book-5,
.book-6-container .book-6,
.book-7-container .book-7 {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
}


.book-1-container .book-1 .circle,
.book-2-container .book-2 .circle,
.book-5-container .book-5 .circle,
.book-6-container .book-6 .circle,
.book-7-container .book-7 .circle {
    background-color: var(--text);
    width: 10%;
    height: 50%;
    border-radius: 50%;
}

.book-1-container .book-1 .link-wrapper,
.book-2-container .book-2 .link-wrapper,
.book-5-container .book-5 .link-wrapper,
.book-6-container .book-6 .link-wrapper,
.book-7-container .book-7 .link-wrapper {
    background-color: var(--text);
    width: 80%;
    height: 76%;
    text-align: center;
    padding-top: 3px;
}

/* END #1 */

/* #2 with plant*/
.things-on-shelf .plant-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}




/* END #2 */

/* #3 with books*/

.things-on-shelf .book-3-and-4-container {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.book-3,
.book-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
}

.book-3 {
    background-color: #25a037;
    width: 20%;
    height: 60%;
    margin-right: 15px;
    transform: rotate(20deg);
}

.book-3 .stripe-1 {
    background-color: #1a7227;
    width: 100%;
    height: 8%;
    margin-top: 5px;
}

.book-3 .stripe-2 {
    background-color: #1a7227;
    width: 100%;
    height: 8%;
    margin-bottom: 5px;
}

.book-4 {
    background-color: var(--orange);
    width: 30%;
    height: 90%;
    margin-right: 5px;
}

.book-4 .stripe-1 {
    background-color: var(--tbl);
    width: 100%;
    height: 8%;
    margin-top: 5px;
}

.book-4 .stripe-2 {
    background-color: var(--tbl);
    width: 100%;
    height: 8%;
    margin-bottom: 5px;
}

/* END #3 */

.shelf-1,
.shelf-2,
.shelf-3 {
    height: 10%;
    width: 100%;
    border: 1px solid black;
    background-color: var(--tbl);
    border-radius: 5px;
    box-shadow: 0 24px 20px -6px black;
}

/* END shelf 1 container */

/* START SHELF 2 container */
.clock-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* clock */

.clock {
    width: 8rem;
    height: 8rem;
    border: 5px solid var(--tbl-lt);
    border-radius: 50%;
    box-shadow: 0 24px 20px -6px black;
}

.outer-clock-face {
    position: relative;
    background: var(--text);
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.outer-clock-face::after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg)
}

.outer-clock-face::after,
.outer-clock-face::before,
.outer-clock-face .marking {
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    background: var(--bg-1);
    z-index: 0;
    left: 49%;
}

.outer-clock-face .marking {
    background: var(--tbl);
    width: 3px;
}

.outer-clock-face .marking.marking-one {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    transform: rotate(30deg)
}

.outer-clock-face .marking.marking-two {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    transform: rotate(60deg)
}

.outer-clock-face .marking.marking-three {
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    transform: rotate(120deg)
}

.outer-clock-face .marking.marking-four {
    -webkit-transform: rotate(150deg);
    -moz-transform: rotate(150deg);
    transform: rotate(150deg)
}

.inner-clock-face {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background: var(--text);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    z-index: 1;
}

.inner-clock-face::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    border-radius: 18px;
    margin-left: -9px;
    margin-top: -6px;
    background: #4d4b63;
    z-index: 11;
}


.hand {
    width: 50%;
    right: 50%;
    height: 6px;
    background: var(--bg-1);
    position: absolute;
    top: 50%;
    border-radius: 6px;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hand.hour-hand {
    width: 30%;
    z-index: 3;
}

.hand.min-hand {
    height: 3px;
    z-index: 10;
    width: 40%;
}

.hand.second-hand {
    background: #ee791a;
    width: 45%;
    height: 2px;
}

.book-5-container {
    background-color: var(--red);
    width: 95%;
    height: 25%;
}

.book-6-container {
    background-color: var(--orange);
    width: 95%;
    height: 25%;
    margin-right: 25px;
}

.book-7-container {
    background-color: var(--green);
    width: 95%;
    height: 25%;
}

/* END SHELF 2 container */

/* SHELF 3 */

.radio-group {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 2px;

}

input[type="radio"] {
    display: none;
}

input[type="radio"]+label {
    font-size: 20px;
}

.radio-group span {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    text-align: center;
}

.radio-group i {
    opacity: 0;
    transition: all .3s ease;
    color: black;
    margin-top: 2px;
}

#color-1+label span {
    background-color: var(--teal);
}

#color-2+label span {
    background-color: var(--green-lt);
}

#color-3+label span {
    background-color: var(--orange);
}

#color-4+label span {
    background-color: var(--red);
}

input[type="radio"]:checked+label span i {
    opacity: 1;
}


/* LINKS in CUBE */

.toy-container {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.links-cube-element {
    width: 50%;
    height: 69%;
    /* perspective: 400px; */
}

.cube {
    width: 200px;
    height: 100px;
    transform-style: preserve-3d;
    transform: translateZ(-50px);
    transition: transform 1s;
}

.cube.show-one {
    transform: translateZ(-50px) rotateY(0deg);
}

.cube.show-two {
    transform: translateZ(-5px) rotateY(-90deg);
}

.cube.show-three {
    transform: translateZ(-50px) rotateY(-190deg);
}

.cube.show-four {
    transform: translateZ(-50px) rotateY(90deg);
}

.cube-face {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 3px solid black;
    line-height: 100px;
    color: white;
    text-align: center;
}

.one i,
.two i,
.three i,
.four i,
.five i,
.six i {
    font-size: 60px;
    color: black;
}

.one {
    background: var(--teal)
}

.two {
    background: var(--green-lt);
}

.three {
    background: var(--orange);
}

.four {
    background: var(--red);
}

.one {
    transform: rotateY(0deg) translateZ(50px);
}

.two {
    transform: rotateY(90deg) translateZ(50px);
}

.three {
    transform: rotateY(180deg) translateZ(50px);
}

.four {
    transform: rotateY(-90deg) translateZ(50px);
}