@import url("https://fonts.googleapis.com/css2?family=Condiment&display=swap");
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');


:root {
    --bg: #141432;
    --bg-1: #262758;
    --purple-lt: #2a2d71;
    --text: #f6fae7;
    --tbl: #976638;
    --tbl-lt: #b68c53;
    --green-lt: #abe07a;
    --green: #25a037;
    --orange: #e1953e;
    --red: #e1443e;
    --teal: #57968e;
    --window: #faf4d0;
    --laptop: #727272;
    /* memo */
    --board-bg: #504940;
    --border: #D6BCB9;
    --board-purple: #867CC2;
    --board-blue: #97BBE2;
    --board-yellow: #F7D655;
    --board-green: #AAC94B;
    --board-pink: #E980B2;
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    color: var(--text);
    background-color: var(--bg-1);
    font-family: 'Comic Neue', cursive;

}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}


a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-family: 'Comic Neue', cursive;
    font-weight: bold;
}

li {
    font-size: 10px;
    line-height: 1.3px;
}


.sec-3 {
    display: none;
}


/* CONTAINER 2 */

.space {
    height: 10%;
}

.board {
    background-color: var(--board-bg);
    width: 100%;
    height: 90%;
    border: 8px solid var(--border);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;

}


/* skills container */


.skills-sec-1,
.skills-sec-2 {
    width: 50%;
    height: 100%;
}

.skills-sec-2 {
    border-left: 2px solid var(--board-purple);
}

.skills-sec-1-1 {
    border-right: 2px solid var(--board-purple);
    border-bottom: 2px solid var(--board-purple);
    height: 50%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.purple-accent-top {
    width: 60%;
    height: 5%;
    background-color: var(--board-purple);
    border-radius: 10px;
    margin-left: 20%;
    margin-bottom: 20px;
}

.blue-box {
    height: 60%;
    width: 96%;
    border: 2px solid var(--board-blue);
    margin-left: 2%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.sticky-single {
    background-color: var(--board-yellow);
    width: 45%;
    color: black;
    text-align: center;
    position: absolute;
    bottom: -10%;
    right: 0;
}

.blue-box-1,
.blue-box-2,
.blue-box-3,
.blue-box-4 {
    width: 50%;
    border: 2px solid var(--board-blue);
}

.blue-box-1,
.blue-box-2 {
    height: 20%;
}

.blue-box-3,
.blue-box-4 {
    height: 80%;
}

.blue-box-4 .line {
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.blue-box-4 .line .blue-line {
    margin: 5%;
}

.blue-box-1 .line,
.blue-box-2 .line,
.blue-box-3 .line {
    display: flex;
    margin-top: 10%;
}


.skills-sec-1-2 {
    border-top: 2px solid var(--board-purple);
    border-right: 2px solid var(--board-purple);
    height: 50%;
    padding-top: 10px;
}

.skills-sec-2 {
    display: flex;
    flex-direction: column;
}

.skills-sec-2 .line {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.notes {
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.notes .green,
.notes-1 .green,
.notes-2 .green {
    background-color: var(--board-green);
    width: 45%;
    height: 25%;
}

.notes .pink,
.notes-1 .pink,
.notes-2 .pink {
    background-color: var(--board-pink);
    width: 45%;
    height: 25%;
}

.notes .yellow,
.notes-1 .yellow,
.notes-2 .yellow {
    background-color: var(--board-yellow);
    width: 45%;
    height: 25%;
}

.notes-1,
.notes-2 {
    height: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

/* END skills container */

img {
    width: 100%;
    height: 100%;
}

.slider {
    width: 100%;
    display: none;
}

.purple-accent {
    width: 60%;
    height: 5%;
    background-color: var(--board-purple);
    border-radius: 10px;
    margin-left: 20%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.p-sec-1,
.p-sec-2 {
    height: 50%;
    width: 100%;
    display: flex;
}

.p-sec-1-1,
.p-sec-1-2,
.p-sec-2-1,
.p-sec-2-2 {
    width: 50%;
}

.p-sec-1-1 {
    border-right: 2px solid var(--board-purple);
    border-bottom: 2px solid var(--board-purple);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sticky {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
    border: 1px solid rgba(0, 0, 0, .25);
}

.blue-lines {
    display: flex;
    flex-direction: column;
}

.line {
    display: flex;
    margin: 0 10% 10% 10%;
}

.blue-line,
.blue-dot {
    background-color: var(--board-blue);
    height: 10px;
}

.blue-lines .line .short {
    width: 30%;
    border-radius: 5px;
}

.line .med {
    width: 60%;
    border-radius: 5px;
}

.line .long {
    width: 80%;
    border-radius: 5px;
}

.blue-dot {
    width: 10px;
    border-radius: 50%;
    margin-right: 10%;
}

.sticky-name {
    transform: rotate(10deg);
    background-color: var(--board-yellow);
    color: black;
    width: 50%;
    margin-left: 20%;
    margin-bottom: 20%;
    text-align: center;
}

.sticky-name:after {
    content: '';
    display: block;
    padding-top: 10%;
    text-align: center;
}

.p-sec-1-2 {
    border-left: 2px solid var(--board-purple);
    border-bottom: 2px solid var(--board-purple);
}

.sticky-link,
.sticky-git {
    background-color: var(--board-green);
    width: 50%;
    height: 25%;
    margin: 20px 0 0 20%;
    transform: rotate(-18deg);
    text-align: center;
    padding-top: 10%;
}

.sticky-link i,
.sticky-git i {
    font-size: 40px;
}

.sticky-git {
    transform: rotate(-5deg);
}

.sticky-link {
    transform: rotate(20deg);
}


.p-sec-2-1 {
    border-top: 2px solid var(--board-purple);
    border-right: 2px solid var(--board-purple);

}

.p-sec-2-2 {
    border-left: 2px solid var(--board-purple);
    border-top: 2px solid var(--board-purple);
}


.sticky-tech-used-1,
.sticky-tech-used-2,
.sticky-tech-used-3 {
    background-color: var(--board-pink);
    color: black;
    width: 60%;
    height: 25%;
    margin-left: 20%;
    margin-bottom: 10px;
}

.sticky-tech-used-2 {
    transform: rotate(5deg);
}

.sticky-tech-used-3 {
    transform: rotate(-5deg);
}

.sticky-description {
    background-color: var(--board-yellow);
    width: 60%;
    height: 25%;
    margin: 20px 0 0 20%;
    transform: rotate(-18deg);
    text-align: center;
    padding-top: 10%;
}

.img-container {
    border: 15px solid var(--text);
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 35%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: var(--text);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}